.rumo-input-wrapper {
    position: relative;
    width: 100%;
}

.rumo-input {
    width: 100%;
    height: 48px;
    padding: 0 44px;

    border: 1px solid var(--border-strong);
    border-radius: 12px;
    outline: none;

    background: #ffffff;
    color: var(--text);

    font-size: 13px;

    transition:
        border-color var(--transition),
        box-shadow var(--transition);
}

.rumo-input::placeholder {
    color: #a0aab7;
}

.rumo-input:hover {
    border-color: #c6d1db;
}

.rumo-input:focus {
    border-color: #58afbb;
    box-shadow: 0 0 0 4px rgba(15, 159, 179, .10);
}

.rumo-input-icon,
.rumo-input-right-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #94a3b8;
}

.rumo-input-icon {
    left: 15px;
}

.rumo-input-right-icon {
    right: 15px;
    cursor: pointer;
}

.rumo-input-right-icon:hover {
    color: var(--primary);
}
