.rumo-item{

display:flex;

align-items:center;

justify-content:space-between;

padding:18px 0;

border-bottom:1px solid #EDF2F7;

}

.rumo-item-icon{

width:52px;

height:52px;

border-radius:18px;

background:#EAFBFD;

display:flex;

align-items:center;

justify-content:center;

color:var(--primary);

margin-right:18px;

}

.rumo-item-info{

flex:1;

display:flex;

flex-direction:column;

gap:4px;

}

.rumo-item-info span{

color:var(--text-light);

font-size:14px;

}

.rumo-item-right{

text-align:right;

display:flex;

flex-direction:column;

gap:6px;

}

.receita{

color:#22C55E;

}

.despesa{

color:#EF4444;

}